<section class="section-main bg padding-y mt-2">
  <div class="container">

    <div class="row">
      <aside class="col-md-3">
        <nav class="card">
          <ul class="menu-category">
            <li><a href="#">Best clothes</a></li>
            <li><a href="#">Automobiles</a></li>
            <li><a href="#">Home interior</a></li>
            <li><a href="#">Electronics</a></li>
            <li><a href="#">Technologies</a></li>
            <li><a href="#">Digital goods</a></li>
            <li class="has-submenu"><a href="#">More items</a>
              <ul class="submenu">
                <li><a href="#">Submenu name</a></li>
                <li><a href="#">Great submenu</a></li>
                <li><a href="#">Another menu</a></li>
                <li><a href="#">Some others</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </aside> <!-- col.// -->
      <div class="col-md-9">
        <article class="banner-wrap">
          <%= image_tag("2.jpg")%>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="section-name padding-y-sm mb-5">
  <div class="container">
    <header class="section-heading">
      <h3 class="section-title">Popular products</h3>
    </header>
    <div class="row">
      <%= render("shared/product")%>
    </div>
  </div>
</section>
