<section class="section-main bg padding-y mt-2">
  <div class="container">

    <div class="row">
      <aside class="col-md-3">
        <nav class="card">
          <ul class="menu-category">
            <li><a href="#">Home</a></li>
            <li class="has-submenu"><a href="#">Products</a>
              <ul class="submenu">
                <li><a href="#">Clothes</a></li>
                <li><a href="#">Electronics</a></li>
              </ul>
            </li>
            <li><a href="#">Hot trends</a></li>
            <li><a href="#">Best seller</a></li>
            <li><a href="#">Best rating</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </nav>
      </aside> <!-- col.// -->
      <div class="col-md-9">
        <article class="banner-wrap">
          <%= image_tag("2.jpg")%>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="section-name padding-y-sm mb-5">
  <div class="container">
    <header class="section-heading">
      <h3 class="section-title">Popular products</h3>
    </header>
    <div class="row">
      <%= render partial: "shared/product", collection: @products %>
    </div>
  </div>
</section>
