<p>Thanks for your contribution, we will review it and make changes accordingly</p>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Contribute</h5>
    <%= image_tag @contribute.image, class: "img-contribute" %>
    <p class="card-text"><%= @contribute.content %></p>
  </div>
</div>