<%= form_for @address, url: static_pages_home_path do |f| %>
	<div class="row">
  	<div class="col-md-12">
    	<%= f.label :description %>
      <%= f.text_field :description, class: "form-control", placeholder: t("description") %>
    </div>
  </div>
<% end %>
