<div class="col-md-10">
  <div class="progress" style="height: 6px; border-radius: 16px;">
    <div class="progress-bar progress-<%= zone %>" role="progressbar"></div>
  </div>
  <div class="d-flex justify-content-around mb-1">
    <p class="text-muted mt-1 mb-0 small ms-xl-5">Pending</p>
    <p class="text-muted mt-1 mb-0 small ms-xl-5">Resolved</p>
    <p class="text-muted mt-1 mb-0 small ms-xl-5">Resolved</p>
  </div>
</div>
