<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors[:password_confirmation].each do |msg| %>
        <li>Password confirmation <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>