<div class="col-md-3">
  <div href="#" class="card card-product-grid">
    <a href="#" class="img-wrap">
      <%= image_tag("https://product.hstatic.net/1000360022/product/1_27cd85ea908247c5a5f6b88d159c6fec_master.jpg")%>
    </a>
    <figcaption class="info-wrap">
      <a href="#" class="title">Just another product name</a>
      <div class="price mt-1">$179.00</div>
    </figcaption>
  </div>
</div>
