$nav_bar_color: #212529;
$menu_bar_color: #e4e4e4;
$menu_background_color: #fff;
$menu_hover_color: #f8f9fa;
$menu_submenu_color: #999;
$footer_bg: white;
$login_signup_box: #EAEAEA;
$tag_a_color: #41464b;
$tag_a_of_menu_color: #212529;
$product_des_border: #E1E8EE;
$product_des_color: #358ED7;
$product_des_p: #86939E;
$product_des_h1: #43484D;
$product_price_span: #43474D;
$cart_product_color: #FFFFFF;
$cart_product_bg: #7DC855;
$cart_product_hover: #64af3d;
$sub_total: #777;
$btn_hover: #f69679;
$btn_checkout_color: #fff;
$btn_checkout_bg: rgb(6, 7, 6);
$icon_remove_hover: #f30;
$icon_remove_color: #fff;
$icon_remove_bg: #e0e0e0;
$quantity_in_cart: #333;
$cart_p: #777;
$cart_even: #fafafa;
$head_table_bg: #f69679;
$head_link_color: #fff;
$head_link_bg: #82ca9c;
$heading: #d0d0d0;
$projTitle_span: #777;
$projTitle: #dadada;
