@import "bootstrap";
@import "color";

.nav_bar_color {
  color: $nav_bar_color !important;
}
.shopping_card {
  position: relative;
  top: 24px;
  right: 26px;
}
a {
  color: $tag_a_color;
  text-decoration: none;
}
.menu-category {
  margin: 0;
  padding: 0;
}
.menu-category li {
  position: relative;
  display: block;
  border-bottom: 1px solid $menu_bar_color;
}
.menu-category li:last-child {
  border-bottom: 0;
}
.menu-category a {
  color: $tag_a_of_menu_color;
}
.menu-category > li > a {
  display: block;
  padding: 10px 18px;
}
.menu-category .submenu {
  display: none;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 20;
  position: absolute;
  left: 100%;
  top: 0;
  width: 250px;
  background: $menu_background_color;
}
.menu-category .submenu li {
  list-style: none;
}
.menu-category .submenu li a {
  padding: 10px 16px;
  display: block;
}
.menu-category li:hover {
  background: $menu_hover_color;
  transition: all 0.3s;
}
.menu-category li:hover .submenu {
  display: block;
  margin-left: 0px;
}
.menu-category .has-submenu > a:after {
  content: "›";
  font-size: 24px;
  color: $menu_submenu_color;
  line-height: 18px;
  font-weight: bold;
  float: right;
}
.img-wrap {
  text-align: center;
  display: block;
}
.img-wrap img {
  max-width: 100%;
}
#login .container #login-row #login-column #login-box {
  margin-top: 50px;
  max-width: 500px;
  background-color: $login_signup_box;
  padding-top: 30px;
  opacity: 0.9;
  padding-bottom: 20px;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #register-link{
  margin-top: -40px;
  margin-bottom: 20px;
}
form#new_user {
  margin-bottom: 20px;
}
#signup .container #signup-row #signup-column #signup-box {
  margin-top: 50px;
  max-width: 500px;
  background-color: $login_signup_box;
  padding-top: 30px;
  opacity: 0.9;
  padding-bottom: 20px;
}
#signup .container #signup-row #signup-column #signup-box #signup-form {
  padding: 20px;
}
#signup .container #signup-row #signup-column #signup-box #register-link{
  margin-top: -40px;
}
footer.section-footer.border-top.bg {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: $footer_bg;
}
#signup .container {
  padding-bottom: 200px;
}
.msg {
  float: right;
  margin: 20px;
  transform: translateY(-50px);
}
div#login {
	padding-bottom: 200px;
}
#error_explanation ul li {
  color: red; 
  list-style: none;
}
main.container {
  display: flex;
}
footer.section-footer.border-top.bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.row.align-items-center {
  margin-top: -20px;
}
img.active {
  height: 600px;
  width: fit-content;
}
.product-price p {
  margin-top: 15px;
  margin-left: 20px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}
/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}
/* Product Description */
.product-description {
  border-bottom: 1px solid $product_des_border;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: $product_des_color;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: $product_des_h1;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: $product_des_p;
  line-height: 24px;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: $product_price_span;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: $cart_product_bg;
  border-radius: 6px;
  font-size: 16px;
  color: $cart_product_color;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: $cart_product_hover;
}
.checked {
  color: yellow;
}
