@import "bootstrap";
@import "color";

body {
  font-family: sans-serif;
  font-size: 17px;

}


.nav_bar_color {
  color: $nav_bar_color !important;
}
.shopping_card {
  position: relative;
  top: 24px;
  right: 26px;
}
a {
  color: #41464b;
  text-decoration: none;
}
.menu-category {
  margin: 0;
  padding: 0;
}
.menu-category li {
  position: relative;
  display: block;
  border-bottom: 1px solid $menu_bar_color;
}
.menu-category li:last-child {
  border-bottom: 0;
}
.menu-category a {
  color: #212529;
}
.menu-category > li > a {
  display: block;
  padding: 10px 18px;
}
.menu-category .submenu {
  display: none;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 20;
  position: absolute;
  left: 100%;
  top: 0;
  width: 250px;
  background: $menu_background_color;
}
.menu-category .submenu li {
  list-style: none;
}
.menu-category .submenu li a {
  padding: 10px 16px;
  display: block;
}
.menu-category li:hover {
  background: $menu_hover_color;
  transition: all 0.3s;
}
.menu-category li:hover .submenu {
  display: block;
  margin-left: 0px;
}
.menu-category .has-submenu > a:after {
  content: "›";
  font-size: 24px;
  color: $menu_submenu_color;
  line-height: 18px;
  font-weight: bold;
  float: right;
}
.img-wrap {
  text-align: center;
  display: block;
}
.img-wrap img {
  max-width: 100%;
}
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  input {
    height: auto !important;
  }
}

body {
  background-color: #eee
}




.form-control {
  border-bottom: 2px solid #eee !important;
  border: none;
  font-weight: 600
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid blue !important
}

.inputbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%
}

.inputbox span {
  position: absolute;
  top: 7px;
  left: 11px;
  transition: 0.5s
}

.inputbox i {
  position: absolute;
  top: 13px;
  right: 8px;
  transition: 0.5s;
  color: #3F51B5
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}

.inputbox input:focus~span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px
}

.inputbox input:valid~span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px
}

.card-blue {
  background-color: #888;
}

.hightlight {
  background-color: #5737d9;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 14px
}
.rounded-circle {
  height: 250px;
  width: 250px;
}
