@import "bootstrap";
@import "color";

.nav_bar_color {
  color: $nav_bar_color !important;
}
.shopping_card {
  position: relative;
  top: 24px;
  right: 26px;
}
a {
  color: $tag_a_color;
  text-decoration: none;
}
.menu-category {
  margin: 0;
  padding: 0;
}
.menu-category li {
  position: relative;
  display: block;
  border-bottom: 1px solid $menu_bar_color;
}
.menu-category li:last-child {
  border-bottom: 0;
}
.menu-category a {
  color: $tag_a_of_menu_color;
}
.menu-category > li > a {
  display: block;
  padding: 10px 18px;
}
.menu-category .submenu {
  display: none;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 20;
  position: absolute;
  left: 100%;
  top: 0;
  width: 250px;
  background: $menu_background_color;
}
.menu-category .submenu li {
  list-style: none;
}
.menu-category .submenu li a {
  padding: 10px 16px;
  display: block;
}
.menu-category li:hover {
  background: $menu_hover_color;
  transition: all 0.3s;
}
.menu-category li:hover .submenu {
  display: block;
  margin-left: 0px;
}
.menu-category .has-submenu > a:after {
  content: "›";
  font-size: 24px;
  color: $menu_submenu_color;
  line-height: 18px;
  font-weight: bold;
  float: right;
}
.img-wrap {
  text-align: center;
  display: block;
}
.img-wrap img {
  max-width: 100%;
}
#login .container #login-row #login-column #login-box {
  margin-top: 50px;
  max-width: 500px;
  background-color: $login_signup_box;
  padding-top: 30px;
  opacity: 0.9;
  padding-bottom: 20px;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #register-link{
  margin-top: -40px;
  margin-bottom: 20px;
}
form#new_user {
  margin-bottom: 20px;
}
#signup .container #signup-row #signup-column #signup-box {
  margin-top: 50px;
  max-width: 500px;
  background-color: $login_signup_box;
  padding-top: 30px;
  opacity: 0.9;
  padding-bottom: 20px;
}
#signup .container #signup-row #signup-column #signup-box #signup-form {
  padding: 20px;
}
#signup .container #signup-row #signup-column #signup-box #register-link{
  margin-top: -40px;
}
footer.section-footer.border-top.bg {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: $footer_bg;
}
#signup .container {
  padding-bottom: 200px;
}
.msg {
  margin: 20px;
  transform: translateY(-50px);
  width: fit-content;
  margin-left: auto;
}

main.container {
  display: flex;
}

footer.section-footer.border-top.bg {
  width: 100%;
  bottom: 0;
  position: fixed;
}

.row.align-items-center {
  margin-top: -20px;
}

img.active {
  height: 600px;
  width: fit-content;
}

.product-price p {
  margin-top: 15px;
  margin-left: 20px;
}

// product
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}


/* Columns */

.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 40%;
  margin-top: 60px;
}


/* Left Column */

.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}


/* Product Description */

.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}


/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}

.cart-btn:hover {
  background-color: #64af3d;
}


/* Order */

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

a.continue {
  margin: 21.44px 0 21.44px 0;
}

.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1% 0;
  margin-bottom: 5em;
  padding-bottom: 200px;
}

.projTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid $projTitle;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.projTitle span {
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  color: $projTitle_span;
}

.heading {
  padding: 1em 0;
  border-bottom: 1px solid $heading;
}

.heading h1 {
  font-family: 'Droid Serif', serif;
  font-size: 2em;
  float: left;
}

.heading a.continue:link,
.heading a.continue:visited {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.015em;
  font-size: 0.75em;
  padding: 1em;
  color: $head_link_color;
  background: $head_link_bg;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.heading a.continue:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.heading a.continue:hover,
.heading a.continue:focus,
.heading a.continue:active {
  background: $head_table_bg;
}

.heading a.continue:hover:after,
.heading a.continue:focus:after,
.heading a.continue:active:after {
  right: -10px;
}

.tableHead {
  display: table;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75em;
}

.tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}

.tableHead li.prodHeader {
  text-align: left;
}

.cart {
  padding: 1em 0;
}

.cart .items {
  display: block;
  width: 100%;
  padding: 1.5em;
  border-bottom: 1px solid $cart_even;
}

.cart .items.even {
  background: $cart_even;
}

.cart .items .infoWrap {
  display: table;
  width: 100%;
}

.cart .items .cartSection {
  display: table-cell;
  vertical-align: middle;
}

.cart .items .cartSection .itemNumber {
  font-size: 0.75em;
  color: $cart_p;
  margin-bottom: 0.5em;
}

.cart .items .cartSection h3 {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.cart .items .cartSection p {
  display: inline-block;
  font-size: 0.85em;
  color: $cart_p;
  font-family: 'Montserrat', sans-serif;
}

.cart .items .cartSection p .quantity {
  font-weight: bold;
  color: $quantity_in_cart;
}

.cart .items .cartSection .itemImg {
  width: 4em;
  float: left;
}

.cart .items .cartSection.qtyWrap,
.cart .items .cartSection.prodTotal {
  text-align: center;
}

.cart .items .cartSection.qtyWrap p,
.cart .items .cartSection.prodTotal p {
  font-weight: bold;
  font-size: 1.25em;
}

.cart .items .cartSection input.qty {
  width: 5em;
  text-align: center;
  font-size: 1em;
  padding: 0.25em;
  margin: 1em 0.5em 0 0;
}

.cart .items .cartSection .itemImg {
  width: 8em;
  display: inline;
  padding-right: 1em;
}
a.remove {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: $icon_remove_color;
  font-weight: bold;
  background: $icon_remove_bg;
  padding: 0.5em;
  font-size: 0.75em;
  display: inline-block;
  border-radius: 100%;
  line-height: 0.85;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

a.remove:hover {
  background: $icon_remove_hover;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: $btn_checkout_color;
  background: $btn_checkout_bg;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.btn:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: $btn_hover;
}

.btn:hover:after,
.btn:focus:after,
.btn:active:after {
  right: -10px;
}


/* TOTAL AND CHECKOUT */

.subtotal {
  float: right;
  width: 35%;
}

.subtotal .totalRow {
  padding: 0.5em;
  text-align: right;
}

.subtotal .totalRow.final {
  font-size: 1.25em;
  font-weight: bold;
}

.subtotal .totalRow span {
  display: inline-block;
  padding: 0 0 0 1em;
  text-align: right;
}

.subtotal .totalRow .label {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85em;
  text-transform: uppercase;
  color: $sub_total;
}

.subtotal .totalRow .value {
  letter-spacing: -0.025em;
  width: 35%;
}

@media only screen and (max-width: 39.375em) {
  .wrap {
    width: 98%;
    padding: 2% 0;
  }
  .projTitle {
    font-size: 1.5em;
    padding: 10% 5%;
  }
  .heading {
    padding: 1em;
    font-size: 90%;
  }
  .cart .items .cartSection {
    width: 90%;
    display: block;
    float: left;
  }
  .cart .items .cartSection.prodTotal,
  .cart .items .cartSection.removeWrap {
    display: none;
  }
  .cart .items .cartSection .itemImg {
    width: 25%;
  }
  .subtotal {
    width: 100%;
  }
  a.btn.continue {
    width: 100%;
    text-align: center;
  }
}
div#login {
	padding-bottom: 200px;
}
#error_explanation ul li {
  color: $icon_remove_hover; 
  list-style: none;
}
main.container {
  display: flex;
}
footer.section-footer.border-top.bg {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
.row.align-items-center {
  margin-top: -20px;
}
img.active {
  height: 600px;
  width: fit-content;
}
.product-price p {
  margin-top: 15px;
  margin-left: 20px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}
/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}
/* Product Description */
.product-description {
  border-bottom: 1px solid $product_des_border;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: $product_des_color;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: $product_des_h1;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: $product_des_p;
  line-height: 24px;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: $product_price_span;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: $cart_product_bg;
  border-radius: 6px;
  font-size: 16px;
  color: $cart_product_color;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: $cart_product_hover;
}
.checked {
  color: yellow;
}
.btn-add-cart {
  display: flex;
  margin-top: 10px;
  p {
    margin-left: 5px;
    margin-top: 12px;
  }
}
.cartReview {
  margin-top: 20px;
}
h1.page-home-admin {
  text-align: center;
  line-height: 16;
}
.alert.alert-danger.msg {
  margin-top: 20px;
  width: auto;
  float: right;
  margin-right: 50px;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

