@import "color";

input#user_remember_me {
  width: auto;
}

#login-box a {
  color: $login;
}

#signup-box a {
  color: $login;
}

.alert-notice {
  color: $notice_color;
  background-color: $notice_bg;
  border-color: $notice_border;
}

.alert-alert {
  color: $alert_color;
  background-color: $alert_bg;
  border-color: $alert_border;
}

.sidekiq-admin{
  position: absolute;
  right: 0;
  margin-right: 200px;
}

.redirect-link {
  color: $login;
}

.clear-link {
  color: $login;
}

.price-search{
  display: flex;
  #q_price_lteq{
    padding-left: 20px;
    margin-left: 20px;
  }
  #q_price_gteq{
    padding-right: 20px;
    margin-right: 20px;
  }
}
