<% provide(:button_text, "create") %>
<div class="row justify-content-center align-items-center mt-5">
  <div class="col-md-5">
  <%= form_for @user, url: admin_users_path, method: "POST" do |f| %>
    <%= render partial: "shared/error" , locals: {zone: @user}%>
    <%= render partial: "shared/form_user" , locals: {f: f}%>
  <% end %>
  </div>
</div>
